.app {
  text-align: center;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3eaea;
  min-height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 10px;
}

button:hover {
  background-color: #005fa3;
}

.preview img {
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.result {
  margin-top: 30px;
  color: #0078d7;
  font-weight: bold;
}

.detector {
  padding: 80px 60px;
  text-align: center;
}

.preview,
.result {
  margin-top: 30px;
}
